@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.anime-main-div{
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	background: inherit;
}
.anime-main-div span{
	/* border: 1px solid blue; */
	/* margin: 0 15px; */
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.anime-main-div .main{
	/* border: 1px solid blue; */
    color: white;
	display: flex;
	height: fit-content;
	justify-content: center;
	align-items: center;
}
.anime-main-div .letter{
	/* border: 1px solid #FF1EAD; */
    margin: 0;
    padding: 0;
    /* padding-top: 10px; */
	/* display: inline-flex; */
	/* height: 37px; */
	width: 0%;
	/* border: 2.5px solid #FF1EAD; */
	/* border: 1px solid white; */
	/* border-radius: 14px; */
  overflow: hidden;
  text-align: center;
	/* box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45); */

	animation: letter 4s ease-in-out 2 alternate;
}
.anime-main-div .letter p{
    margin: 0;
    padding: 3px 0;
    text-align: center;
	/* border: 1px solid yellow; */
	width: 100%;
	height: fit-content;
    /* display: block; */
	margin: 0 auto;
	
}
.anime-main-div .letter .left{
            /* border: 1px solid red; */
    margin-right: 17%;
}
/* .anime-main-div .letter .and{
            border: 1px solid red;
} */
.anime-main-div .letter .right{
        margin-left: 14%;
            /* border: 1px solid red; */

}
.ai, .ai b{
	/* border: 1px solid yellow; */
	margin: 0;
	padding: 0;}
.ai b{
	color: red;
	/* font-size: 52px; */
}
.ai{
	visibility: hidden;
	/* opacity: 0%; */
	/* display: hidden; */
	/* margin-bottom: 8px; */
	animation: ai 1.8s 6.4s ease-in 1 alternate;
	/* animation: fadeIn ease 20s; */
}

@keyframes ai {
	
	0% {color: rgba(255, 255, 255, 0);}
	100% {color: rgba(255, 255, 255, 1);}
	}

@keyframes letter {
	0%,45%{ width: 0px; color: rgba(255, 255, 255, 0)}
	55%,100%{ width: 11vw; color: rgba(255, 255, 255, 1);}
}


@media only screen and (max-width: 768px) {
.main{
	font-size: 9vw;
}
.anime-main-div .letter{
	height: 100%;
    margin-bottom: 3px;

}

@keyframes letter {
	0%,45%{ width: 0px; color: rgba(255, 255, 255, 0);}
	55%,100%{ width: 27vw; color: rgba(255, 255, 255, 1);}
}
}